{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

<main role="main">
      <div class="jumbotron">
        <div class="container text-center">
          <h1>Se connecter</h1>
        </div>
      </div>

      <div class="container">
            <div class="card shadow">
				<div class="card-body">
					<form action="{{ path('login') }}" method="POST">
                        <div class="form-group">
                            <label for="username">Email</label>
                            <input type="text" name="_username" id="email" class="form-control" placeholder="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="password" name="_password" id="password" class="form-control" placeholder="mot de pass" required>
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary">Se connecter</button>
                        <a class="btn btn-sm btn-secondary" href="{{ path('home') }}">Retour</a>
                    </form>
				</div>
			</div>
      </div>
    <!-- /container -->
    </main>
{% endblock %}
