{% extends 'base.html.twig' %}

{% block title %}Inscritption{% endblock %}

{% block body %}

<main role="main">
      <div class="jumbotron">
        <div class="container text-center">
          <h1>Inscription</h1>
        </div>
      </div>

      <div class="container">

            <div class="card shadow">
				<div class="card-body">
					{{ form_start(form) }}
            <div class="col-md-12">
                <div class="form-group">                                   
                    {{form_row(form.username)}}                                   
                </div>
                <div class="form-group">                                   
                    {{form_row(form.email)}}                                   
                </div>
                <div class="form-group">                                   
                    {{form_row(form.password)}}                                   
                </div>
                <div class="form-group">                                   
                    {{form_row(form.confirm_password)}}                                   
                </div>
            </div>
        <div class="row text-right">
            <button type="subtmit" class="btn btn-info btn-sm">Enregistrer</button>|
            <a class="btn btn-sm btn-secondary" href="{{ path('home') }}">Retour</a>
        </div>
{{ form_end(form) }}
				</div>
			</div>
      </div>
    <!-- /container -->
    </main>
{% endblock %}
