{% extends 'base.html.twig' %}

{% block title %}Accueil!{% endblock %}

{% block body %}
    
    <main role="main">
      <div class="jumbotron">
        <div class="container text-center">
          <h1>Test Symfony Erudit</h1>
          <a class="btn btn-primary btn-sm" href="{{ path('post_new') }}" role="button">Créer un article</a>
          <a class="btn btn-info btn-sm" href="{{ path('registration') }}" role="button">Créer un auteur</a>
          
        </div>
      </div>

      <div class="container">
        {% for message in app.flashes('success')%}
          <div class="alert alert-success text-center">{{message}}</div>
        {% endfor %}
        <div class="row">
            {% for post in posts %}
                <div class="col-md-3">
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.description }}</p>
                    <p><a class="btn btn-secondary btn-sm" href="#" role="button">Auteur: <strong>{{ post.user.username }}</strong></a></p>
                </div>
            {% endfor %}
        </div>
        
      </div>
    <!-- /container -->
    </main>
{% endblock %}
