<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Blog test symfony {% endblock %}</title>
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Test SF</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ path('post_lists') }}">Article <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
       <ul class="navbar-nav">
                  {% if app.user %}
                    <li class="nav-item">
                      <a href="{{ path('logout') }}" class="nav-link">({{ app.user.username }})Déconnexion</a>
                    </li>
                  {% else %}
                    <li class="nav-item">
                      <a href="{{ path('login') }}" class="nav-link">Connexion</a>
                    </li>
                  {% endif %}
                </ul>
              
    </nav>
        {% block body %}{% endblock %}
    </body>
</html>
