{{ form_start(form) }}
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="form-group">                                   
                    {{form_row(form.title)}}                                   
                </div>
                <div class="form-group">                                   
                    {{form_row(form.description)}}                                   
                </div>
            </div>
        </div>
        <div class="row text-right">
            <button type="subtmit" class="btn btn-info btn-sm">Enregistrer</button> |
            <a href="{{ path('home') }}" class="btn btn-secondary btn-sm">Annuler</a>
        </div>
{{ form_end(form) }}