 {% extends 'base.html.twig' %}

{% block title %}List Articles!{% endblock %}

{% block body %}
    <main role="main">
        <div class="jumbotron">
            <div class="container text-center">
            <h1>List articles</h1>
            </div>
        </div>
     
        <div class="container">

                {% for message in app.flashes('success')%}
                        <div class="alert alert-success text-center">{{message}}</div>
                {% endfor %}
                <table class="table table-striped">
                     <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Auteur</th>
                            <th>Description</th>
                            <th>Date Publication</th>
                            <th>Date Modification</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in posts %}
                            <tr>
                                <td>{{ post.title }}</td>
                                <td>{{ post.user.username }}</td>
                                <td>{{ post.description }}</td>
                                <td>{{ post.createdAt | date('d-m-y') }}</td>
                                <td>{{ post.updatedAt | date('d-m-y') }}</td>
                                <td>
                                    <a class="btn btn-warning" href="{{ path('post_edit', {id:post.id}) }}" role="button">Modifier</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                    
        </div>
        </div>
        <!-- /container -->
    </main>
{% endblock %}
