 {% extends 'base.html.twig' %}

{% block title %}Nouveau!{% endblock %}

{% block body %}
    <main role="main">
        <div class="jumbotron">
            <div class="container text-center">
            <h1>Création article</h1>
            </div>
        </div>

        <div class="container">
                <div class="card shadow">
                    <div class="card-body">
                        {{ include('post/form.html.twig')}} 
                    </div>
                </div>
        </div>
        <!-- /container -->
    </main>
{% endblock %}
